<!-- When editing anchor hrefs, make sure to change both the img and the text-->

<div class="col">
  <div class="bg-sdown-dark rounded h-100 overflow-hidden">
    <a
      class="product-link text-decoration-none"
      href="/product?id=<product_id>"
    >
      <div
        class="border d-flex justify-content-center"
        style="aspect-ratio: 1 / 1 !important; background-color: #fff"
      >
        <!-- img dimensions adjusted here -->
        <img
          class="image-placeholder"
          src="Wide_Putin.RU"
          style="max-width: 100%; height: 100%; object-fit: contain"
        />
      </div>
      <div class="product-name p-2 text-light">product-name</div>
      <div class="product-price p-2 text-light fw-bold">C$ 0000</div>
    </a>
  </div>
</div>
