<!-- When editing anchor hrefs, make sure to change both the img and the text-->

<div class="col-3">
  <div class="mb-2" style="width: 65%; height: 150px">
    <!-- img dimensions adjusted here -->
    <a href="/product?id=<product_id>">
      <img
        class="image-placeholder"
        src="Wide_Putin.RU"
        style="max-width: 100%; height: 100%"
      />
    </a>
  </div>
  <a class="product-link" href="/product?id=<product_id>">
    <div class="product-name">product-name</div></a
  >
</div>
