.img-container {
  flex: 1;
  padding: 10px;
  border: 1px solid gray;
}

.desc-container {
  flex: 1;
  padding: 10px;
  border: 1px solid;
  height: 100%;
}

.product-image {
  width: 100%;
}

h1 {
  margin-left: 80px;
}
